/*all*/

 body {background:#ffffff; width:100%; height: 100%;
  }
  a{text-decoration:none; color:black;}
  h1{}
  li,ul{list-style:none;}
  ul{}
  p{
    font-family:SpoqaHanSans;
    color: #000000;
    font-size: 12px;
    padding: 10%;
   }
.header{ position:fixed; display: block;
  width: 500px; height: 200px;
}
.header h1{
   position:fixed;
   margin-left: 0; margin-right: 0;
   top:20px; left:45%;
   padding:50px;


    }
  .logo1 img{ width: 200px; position: fixed; display:none;}
  .logo1 {width: 99.9999%; height: 200px;}
  .logo2 {display: block;}

.shadow{
  box-shadow:4px 4px 6px #b2b2b2;
}
  .tshadow{
    text-shadow: 1px 1px 2px #b2b2b2;
  }

      /*가생이 그룹*/
    .line{box-shadow:1px 1px 3px #b2b2b2;
        border: 0.7px solid #000000; height: 47%;
        position:fixed; }
    .lineleft{
          top: 15%; left: 20px;
        }
    .lineright{
        bottom: 15%; right: 20px;
      }
    .t1,.t2{font-family: helvetica; font-size: 12px;
          position:fixed;color:#000000;padding: 0;}
    .t1{width:auto; height:auto;
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                left:4px; top:55px;
                  }
    .t2{width:50px; height:50px;
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                right:13px; bottom:30px;
                 }
      .cute {border:solid none; border-radius:50%;
        background:pink;width:10px; height:10px;
        margin:10px; position:absolute;}
      .cute:nth-child(2){background:green;
      bottom:200px; right: 7px; position:absolute;}
        /*가생이 그룹*/

.page {border: solid 0;
     width:500px; height:1000;
     position: fixed;
     top:200px;}
    .list{position:relative; display:block;
      font-family: helvetica;
      font-size: 40px; font-style:italic;
      padding:20px;}
.page2{
        width:70%; height: 1000px;
        background:#cbcbcb;
        overflow: scroll;
        z-index: 1;
        margin: 0 auto;
        }
.page2 img{width: 100%; padding-top:50px;}

#category {
      }
      .nav{text-align:center;}
      .gnb{margin: 0 auto;left:0 auto; right: 0 auto;}
      .gnb li {margin: 0 auto; width:auto;}
      .nav .gnb .sub {display:none;}
      .nav .gnb li:hover .sub {
        padding: 20px;width:100px;
        display:block; font-size: 1px;
        margin: 5px;
        background: #ff050050;
        align: center;
        position:sticky;
      }


#follow{position:fixed;  float:left;
    left:15px; bottom:15px;
    }

#background {position: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  #background img{
    padding:0;
    width: 99%;
    z-index: 5;
    }


@media screen and (max-width: 1070px){
    #background {
      display: block;
    }
    .line{height: 30%;}
    .lineleft{
          top: 15%; left: 20px;
        }
    .lineright{
        bottom: 15%; right: 20px;
      }
    .t1,.t2{font-family: helvetica; font-size: 15px;
          position:fixed;color:#000000;
        }
    .t1{width:auto; height:auto;
                left:0px; top:70px;
                  }
    .t2{width:50px; height:50px;
                right:13px; bottom:50px;
                 }
    .page2{width: 90%;}
  }
